.footer {
  position: absolute;
  // z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top  , rgb(63, 81, 181,0.7), #B8C6DB, rgb(63, 81, 181,0.7));
}

footer span {
  font-size: 2rem;
  font-weight: 300;
}
.span{
  margin-left: 19rem;
}
