/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



:root {
  font-size: 62.5%;
  --primary-color: rgb(63, 81, 181,0.7);
  --second-color: #B8C6DB;

  --background-color: var(--second-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

html, body {
  background: var(--background-color);
  overflow-x: hidden;
 }


 .red {
  color: rgb(227, 94, 107);
}

.v-middle {
  vertical-align: middle;
}


/* Estilos da barra de rolagem */
::-webkit-scrollbar {
  width: 2rem; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: var(--secondary-color); /* cor do fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* cor da barra de rolagem */
  border-radius: 1rem; /* raio de borda da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top  , rgb(63, 81, 181,0.7), #B8C6DB, rgb(63, 81, 181,0.7)); /* cor da barra de rolagem ao passar o mouse */
}
